node_modules
npm-debug.log
.env
.env.local
.env.*.local
.next
out
coverage
.git
.gitignore
.vscode
.idea
*.md
.DS_Store
.eslintrc.js
.prettierrc
playwright-report
test-results
.storybook
storybook-static
